@page
@model SaaS.WebApp.Pages.Profile.DashboardPageModel

@{
    ViewData["Title"] = "Administration dashboard";
}

<h3 class="text-muted">Dashboard</h3>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        
    </div>
</div>