@page "{token?}"
@model SaaS.WebApp.Pages.Profile.SignUpPageModel

@{
    ViewData["Title"] = "Sign Up Form";
}
<h3 class="text-muted">Signup to SaaS Demo App</h3>
@if (!string.IsNullOrEmpty(Model.Message))
{
<div class="alert alert-danger" role="alert">
    <i class="fa-solid fa-exclamation-triangle"></i> @Model.Message
</div>
}
<form method="post">
    <div class="mb-3">
        <label asp-for="SignupModel.FullName" class="form-label">Full name</label>
        <input type="text" class="form-control" asp-for="SignupModel.FullName" placeholder="Yianni Whackamole">
    </div>
    <div class="mb-3">
        <label asp-for="SignupModel.Username" class="form-label">Email address</label>
        <input type="email" class="form-control" asp-for="SignupModel.Username" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label asp-for="SignupModel.Password" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="SignupModel.Password">
    </div>
    <div class="mb-3">
        <label asp-for="SignupModel.RepeatPassword" class="form-label">Repeat password</label>
        <input type="password" class="form-control" asp-for="SignupModel.RepeatPassword">
    </div>
    <button type="submit" class="btn btn-primary">Sign me up <i class="fa-solid fa-person"></i></button>
</form>