@page
@model IndexPageModel
@{
    ViewData["Title"] = "Home page";
}

<h3>Welcome to Microsoft Commercial Marketplace Sample</h3>
<p class="text-info">
    This is a sample application that demonstrates how to integrate with Microsoft Commercial Marketplace APIs.
    The application is built using <a href="http://asp.net">ASP.NET Core Razor Pages</a> and demonstrates how to authenticate with
    Microsoft identity platform and call Microsoft Commercial Marketplace APIs.
    The application uses the <b>Microsoft.Marketplace.SaaS</b> library to call Microsoft Commercial Marketplace APIs.
</p>
<p>It contains:</p>
<ul>
    <li>Web application which clients subscribes to.</li>
    <li>Same application with admin options to get information about the integration.</li>
    <li>Webhook implementation to react on messages from </li>
</ul>
<p>It adheres to:</p>
<img src="images/saas-subscription-lifecycle-api-v2.png" alt="SaaS lifecycle" class="img-fluid">