@page
@model SaaS.WebApp.Pages.Info.NoAccessPageModel

@{
    ViewData["Title"] = "No access";
}

<h3>This page you tried to access is for administration only!</h3>
<p class="text-black">If you want to have access, check admin privileges or contact admin person in company to enable that for you.</p>